/* 
	Custom CSS Stylesheet for B Whiting Designs Blog Only
	Theme: Responsive 2.0
	Author: Brian Whiting (Native Rank)
	Author Url: http://www.bwhitingdesigns.com
	Tags: HTML5, CSS3, Jquery, Javascript, Transitions, Red, Black, White
	
*/

/*
	Hover import rule being used for the hover effects on documents
*/

.swiper-wrapper {
	height: 360px !important;
}

.post-block figure img {
	width: calc(100vw - (100vw - 100%));
}

.post-block figcaption {
	margin-top: 1em; margin-bottom: 1em;
}

.post-block ul {
	text-align: left;
	padding: 1.5em;
}