/* 
	Custom CSS Stylesheet for B Whiting Designs
	Theme: Responsive 2.0
	Author: Brian Whiting (Native Rank)
	Author Url: http://www.bwhitingdesigns.com
	Tags: HTML5, CSS3, Jquery, Javascript, Transitions, Red, Black, White
	
*/

html {
	scroll-behavior: smooth;
}

body {
    background-color: #070707;
    font-family: 'Quicksand', 'sans-serif'; font-weight: 400; font-size: 0.875em;
    color: #FBF9F1;
}

.red {
    color: #d62828;
}

h1 {
    font-size: 52px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: #D62828;
}

h6.tagline {
    font-size: 14px; font-weight: 400;
    opacity: 0.70;
}

.lead {
    font-family: 'Quicksand', 'sans-serif' !important;
    font-weight: 300;
    color: rgba(255,253,253,0.50);
    margin-bottom: 20px;
}

hr.red {
    border-top: 1px solid #d62828;
    width: 5%;
    margin-top: 0px;
}

/* missing padding elements of bootstrap */

p-xs-0 {
	padding: 0 !important;
}

p-xs-1 {
	padding: .25rem !important;
}

pt-xs-1 {
	padding-top: .25rem !important;
}

pl-xs-1 {
	padding-left: .25rem !important;
}

pr-xs-1 {
	padding-right: .25rem !important;
}

pb-xs-1 {
	padding-bottom: .25rem !important;
}

p-xs-2 {
	padding: .5rem !important;
}

pt-xs-2 {
	padding-top: .5rem !important;
}

pl-xs-2 {
	padding-left: .5rem !important;
}

pr-xs-2 {
	padding-right: .5rem !important;
}

pb-xs-2 {
	padding-bottom: .5rem !important;
}

p-xs-3 {
	padding: 1rem !important;
}

pt-xs-3 {
	padding-top: 1rem !important;
}

pl-xs-3 {
	padding-left: 1rem !important;
}

pr-xs-3 {
	padding-right: 1rem !important;
}

pb-xs-3 {
	padding-bottom: 1rem !important;
}

p-xs-4 {
	padding: 1.5rem !important;
}

pt-xs-4 {
	padding-top: 1.5rem !important;
}

pl-xs-4 {
	padding-left: 1.5rem !important;
}

pr-xs-4 {
	padding-right: 1.5rem !important;
}

pb-xs-4 {
	padding-bottom: 1.5rem !important;
}

p-xs-5 {
	padding: 3rem !important;
}

pt-xs-5 {
	padding-top: 3rem !important;
}

pl-xs-5 {
	padding-left: 3rem !important;
}

pr-xs-5 {
	padding-right: 3rem !important;
}

pb-xs-5 {
	padding-bottom: 3rem !important;
}

/* missing padding elements of bootstrap */

/* missing margin elements of bootstrap */

m-xs-0 {
	margin: 0 !important;
}

m-xs-1 {
	margin: .25rem !important;
}

mt-xs-1 {
	margin-top: .25rem !important;
}

ml-xs-1 {
	margin-left: .25rem !important;
}

mr-xs-1 {
	margin-right: .25rem !important;
}

mb-xs-1 {
	margin-bottom: .25rem !important;
}

m-xs-2 {
	margin: .5rem !important;
}

mt-xs-2 {
	margin-top: .5rem !important;
}

ml-xs-2 {
	margin-left: .5rem !important;
}

mr-xs-2 {
	margin-right: .5rem !important;
}

mb-xs-2 {
	margin-bottom: .5rem !important;
}

m-xs-3 {
	margin: 1rem !important;
}

mt-xs-3 {
	margin-top: 1rem !important;
}

ml-xs-3 {
	margin-left: 1rem !important;
}

mr-xs-3 {
	margin-right: 1rem !important;
}

mb-xs-3 {
	margin-bottom: 1rem !important;
}

m-xs-4 {
	margin: 1.5rem !important;
}

mt-xs-4 {
	margin-top: 1.5rem !important;
}

ml-xs-4 {
	margin-left: 1.5rem !important;
}

mr-xs-4 {
	margin-right: 1.5rem !important;
}

mb-xs-4 {
	margin-bottom: 1.5rem !important;
}

m-xs-5 {
	margin: 3rem !important;
}

mt-xs-5 {
	margin-top: 3rem !important;
}

ml-xs-5 {
	margin-left: 3rem !important;
}

mr-xs-5 {
	margin-right: 3rem !important;
}

mb-xs-5 {
	margin-bottom: 3rem !important;
}

/* missing margin elements of bootstrap */


header {
    background-color: #070707;
}

nav {
	padding: 0.5rem 2rem 2rem !important;
	background: #070707;
}

nav .navbar-toggler {
	position: fixed;
	outline: none;
}

.navbar-brand {
	position: fixed;
	left: 2rem;
	z-index: 10;
	color: #D62828;
}

.navbar-quick-menu {
	position: relative;
	top: 1.5rem;
}

.navbar-quick-menu > ul > li {
	padding: 0px 0.5rem;
}

.navbar-quick-menu > ul > li > a:hover {
	text-decoration: none;
}

#navbarmenu {
	position: absolute;
	top: 0px; left: 0px;
	height: 100vh; width: 100vw;
	background: #191A1E;
}

#navbarmenu .navbar-wrap {
	padding: 8rem 0rem 5rem;
	width: 80%;
}

nav a, .nav-pills .nav-link, a {
    color: #FBF9F1;
}

nav a:hover, .nav-pills .nav-link:hover, a:hover {
    color: #fbf9f1;
	opacity: 0.6;
    transition: 0.5s ease;
	text-decoration: none;
}

nav .navbar-nav li {
    padding: 0px 25px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif; font-size: 2em; font-weight: bold;
    letter-spacing: 2px;
}

.nav-pills {
    text-transform: uppercase;
}

.nav-pills .nav-link.active {
    background-color: transparent !important;
    border-radius: 0px;
    font-family: 'Rubik', sans-serif; font-weight: bold;
}

.navbar-nav li.active a, .nav-pills .nav-link.active {
    color: #D62828 !important;
    padding-bottom: 4px;
}

.bw-contact-info {
	padding-top: 3rem;
}

.bw-contact-info li.list-item {
	padding-top: 0.5rem;
}

.bw-contact-info li a:hover {
	text-decoration: none;
	opacity: .8;
}

.navmenu-social-bar {
	position: absolute;
	left: 4rem; top: 150%;
}

.navmenu-social-bar li, .wrap-social li {
	padding: 15px 0px;
}

.navbar-toggler {
	z-index: 10;
}

.fa-bars {
    color: #D62828;
}

.hero {
    padding-top: 7.5rem;
	min-height: 100vh;
	position: relative;
}

.hero-contact {
	padding-top: 100px;
}

.hero.case-studies {
	min-height: 100vh;
	padding-bottom: 5vh;
}

.hero.about-me {
	padding-top: 30vh;
	min-height: 100vh;
}

.portfolio-header {
	position: absolute;
	background-size: cover; background-position: center top; background-repeat: no-repeat; background-attachment: scroll; background-image: inherit;
	top: 0; bottom: 0; right: 0; left: 0;
	opacity: 0.1;
	width: 100%; height: 100%;
}


.hero .social-icons li, .social-icons li {
    padding: 15px;
}


.hero .social-icons a, .social-icons a {
    color: #d62828;
}

.hero .social-icons a:hover, .social-icons a:hover {
    transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
}

a.text-link {
    color: #d62828;
    font-weight: bolder;
    text-decoration: none;
}

button.btn-lg {
    border-radius: 4px !important;
    padding: 15px 150px;
    font-family: 'Asap', sans-serif; font-weight: 700;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif; font-weight: bold; font-size: 14px;
    letter-spacing: 1.5px;
    border-radius: 50px;
    padding: 10px 20px;
}

.btn-primary-solid {
    background-color: #d62828;
    border-color: rgba(0,0,0,0.85);
}

.btn-primary {
    background-color: transparent;
    border-color: #d62828;
}

.btn-primary:hover, .btn-primary-solid:hover {
    background-color: #BC0E0E;
    border-color: rgba(112,112,112,0.05);
}

.btn-secondary {
    background-color: #FFFDFD;
    color: #070707;
}

.btn-secondary:hover {
    background-color: rgba(7,7,7,1);
    border-color: rgba(112,112,112,1); border: 2px solid;
    color: #EDEDED;
}

.btn-black {
    background-color: transparent;
    border-color: #131313;
}

.btn-black:hover {
    background-color: #131313;
    border-color: rgba(112,112,112,0.05);
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item a:hover {
    color: #d62828;
    transition: 0.5s ease;
    text-decoration: none !important;
}

.bg-dark {
	padding: 0px 0px 4rem;
}

.bg-primary {
	background-color: #191A1E !important;
}

.bg-secondary {
	background-color: rgba(214,40,40,0.45) !important;
	color: #FBF9F1;
}

.bg-secondary h3, .bg-secondary h4, .bg-secondary h5, .bg-secondary h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: inherit; opacity: 0.8;
}


.timeline-block {
	background-color: #191A1E;
	padding: 2rem;
	vertical-align: middle;
	position: relative;
	bottom: -5rem; 
	float: left;
}

.timeline-block::after {
	clear: both;
}

.timeline-block div div {
	border-right: 1px solid rgba(255,255,255,0.250);
}

.timeline-block div div:last-of-type {
	border-right: 0px;
}

section {
	/**
	scroll-behavior: smooth;
	**/
}

#intro {
	padding: 0px;
}

.bw-image-grid {
	position: relative;
	overflow: hidden;
	padding-bottom: 5rem;
}

.image-foreground {
	z-index: 4;
	position: absolute;
	top: 6%;
	max-height: 250px;
	overflow: hidden;
}

.image-background {
	position: relative;
	top: 0px; left: 10%;
	max-height: 250px;
}

.image-background img {
	filter: grayscale(1);
}

.image-background.right img {
	border-radius: 0px 10px 10px 0px;
}

.image-background.left img {
	border-radius: 10px 0px 0px 10px;
}

.image-background::after {
	content: '';
	display: block;
	height: 90%;
	background-color: #d62828;
	filter: brightness(0.5);
	position: absolute;
	bottom: -5%;
	z-index: -1;
	transition: 1s linear;
}

.image-background.right::after {
	left: 5%;
	width: 75%;
	border-radius: 0px 10px 10px 0px;
}

.image-background.left::after {
	left: -5%;
	width: 75%;
	border-radius: 10px 0px 0px 10px;
}

.image-background:hover::after {
	filter: brightness(1);
}

#photo-brian {
	width: 100%;
	max-height: 300px; height: 500px;
	overflow: hidden;
	margin-top: 120px;
	position: relative;
	top: -80px;
}

#photo-brian .bw-image-box {
	display: block;
	background-image: url("/images/blur-codes-coding-577585.jpg");
	background-repeat: no-repeat; background-position: center center; background-size: cover;
	width: 100%; height: 100%;
}

#bw-contact-info {
	top: -40px;
	position: relative;
	margin-top: -80px;
}

#bw-contact-info #photo-brian {
	height: 100% !important; max-height: 100%;
	top: 0px; margin: 0px;
}

#photo-brian .img-overlay-block {
	position: absolute;
	bottom: 0px; right: 0px;
	content: '';
	background-color: #070707;
	height: 5rem; width: 15rem;
	z-index: 2;
}

#photo-brian a {
	position: absolute;
	bottom: 1.5rem; right: 5rem;
	z-index: 3;
	font-size: 1.250em; font-family: 'Quicksand', sans-serif; font-weight: 300;
}

#photo-brian i {
	font-size: 0.750em !important;
	padding-left: 0.5rem;
	opacity: 0.5;
	transition: all ease-in-out 0.5s;
}

#photo-brian:hover i {
	opacity: 1;
	transform: scale(1.25);
}

.img-gif {
	filter: grayscale(1);
	opacity: .9;
}

.bw-image-featured-sm {
	margin-bottom: 2.5rem;
	position: relative;
}

.bw-image-featured-sm img {
	border-radius: 10px 0px 10px 0px;
	max-height: 180px;
}

.bw-image-featured-sm::after {
	content: '';
	display: block;
	height: 90%; width: 85%;
	background-color: #d62828;
	filter: brightness(0.5);
	position: absolute;
	bottom: -5%; right: -1%;
	z-index: -1;
	transition: 1s linear;
	border-radius: 0px 10px 10px 10px;
}

#aboutHome p {
	padding-top: 1rem; padding-bottom: 1rem;
}

section#portfolioPage {
    position: relative;
    top: -140px;
}

.text-before {
	transform: rotate(-45deg);
	padding-top: 3rem; padding-right: 2rem; margin-bottom: 1.5rem;
}

.text-after {
	transform: rotate(-45deg);
	padding-top: 1rem;
}

#bw-services .row div {
	padding: 2rem;
}

#bw-services img {
	width: 35%;
	padding-bottom: 1rem;
}

.left.slick-arrow {
	position: absolute;
	bottom: -10%; left: 25%;
}

.right.slick-arrow {
	position: absolute;
	bottom: -10%; right: 25%;
}

.service-icons {
    padding: 20px 40px; margin-top: 20px;
}

.service-icons div {
    padding: 20px 40px;
}

.service-icons h5 {
    font-size: 1.02em; letter-spacing: 0.85px;
    text-transform: capitalize;
    margin-top: 15px;
    opacity: 0.75;
}

#featured-work, .more-cases {
    padding-top: 40px; padding-bottom: 60px;
	border-bottom: 1px solid rgba(157,157,157,0.35);
}

.portfolio-home a:hover, .more-cases a:hover {
	text-decoration: none;
}

.bw-work-2-column {
	padding: 3rem;
}

a:hover .bw-card > * {
	transition: all 1s ease-in-out;
}

a:hover > .bw-card span {
	visibility: visible;
}

.bw-card {
	overflow: hidden;
	position: relative;
	height: 300px;
}

.bw-card-img {
	max-height: 250px;
	overflow: hidden;
	position: relative;
	bottom: 0%;
	transition: all 1.5s ease-in-out;
}

.bw-card-about-img img {
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 10px 0px;
}

a:hover .bw-card-img {
	position: relative;
	bottom: 10%;
}

.bw-card-block {
	background: #191a1e;
	padding: 1.5rem;
	width: 80%;
	position: absolute;
	bottom: -15%; left: 5%; right: 5%;
	transition: all 1.5s ease-in-out;
}

a:hover .bw-card-block {
	bottom: -5%;
	border-top: 3px solid #d62828;
}


.bw-card-block span {
	visibility: hidden;
	transition: all 0.8s ease-in-out;
}

.bw-block {
	background: #191a1e;
	padding: 2rem 2rem 4rem; margin: 10px;
	overflow: hidden;
	transform: translate(0%, 10px);
	transition: all 1s ease-in-out;
}


.bw-project-slider .bw-block {
	padding: 1rem 2rem;
	transform: translate(0%, 0px);
}

.bw-project-slider .bw-block:hover {
	transform: translate(0%, 0px);
}

.bw-block:hover {
	transform: translate(10px, 0px);
}

.bw-block .bw-block-title {
	padding-top: 2.5rem; margin-bottom: 2rem;
	text-align: left;
	z-index: 2;
}

.bw-project-slider .bw-block .bw-block-title {
	padding-top: 1rem;
	text-align: inherit;
}

.bw-project-slider .bw-block .bw-block-image {
	position: relative;
	width: 65%;
	padding-bottom: 2rem;
	transition: 1s ease-in-out all;
}

.bw-project-slider .bw-block:hover .bw-block-image {
	opacity: 1;
}

.bw-block .bw-block-image {
	position: absolute;
	right: -20%; top: 20px;
	width: 55%;
	z-index: 1;
	opacity: 0.4;
}

.bw-block .bw-block-image-sm {
	position: absolute;
	right: -30%; top: 10%;
	width: 65%;
	z-index: 1;
	opacity: 0.4;
}

.bw-project-slider .bw-block-footer {
	margin-top: 2rem;
}

.bw-block-footer {
	width: 90%;
	text-align: right;
	color: #FBF9F1;
	position: absolute;
	bottom: 20px; left: 6%;
	z-index: 2;
	opacity: 0.5;
	transition: all 1s ease-in-out;
}

.bw-block:hover .bw-block-footer {
	color: #D62828;
	opacity: 1;
}

.bw-block-footer i {
	float: left;
	transition: transform 1s ease-in-out;
}

.bw-block:hover .bw-block-footer i {
	transform: rotate(-45deg);
}

.subtitle-brand {
	color: #D62828;
}

.subtitle-dc {
	color: #1D4F92;
}

#my-process .process-card {
	padding: 1rem;
}

#my-process .process-card:hover {
	background: rgba(142,26,26,1.00);
	border-radius: 4px;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.05);
}

#my-process .process-card h6 {
	text-align: center;
}

#my-process .process-card p {
	padding-top: 0.5rem;
	text-align: center;
	transition: all 1.2s ease-in-out;
}

#my-process .process-card:hover p {
	padding-top: 1rem;
}

.card {
    max-height: 320px; width: 100%;
    overflow: hidden;
	border-radius: 0px;
}

.card.bw-blog-card {
	background: transparent;
	height: auto;
}

#package-offers .row > div:nth-of-type(1) {
	padding: 3rem;
}

.bw-service-list {
	column-gap: 3rem;
		-webkit-column-gap: 3rem;
	columns: 2;
		-webkit-column: 2;
	margin-left: 1.5rem;
	padding: 1.5rem 3.5rem 2rem;
}

.bw-service-list .bw-service-list-item {
	font-size: 1.125em;
	padding: 0.5rem 0;
}

.fa-ul.sitemap li ul.list-unstyled {
	width: 80%;
	padding: 1rem 2rem;
}

#bw-contact-form input {
	background: transparent;
	border-bottom: 2px solid #FBF9F1; border-top: none; border-left: none; border-right: none;
	border-radius: 0px;
	width: 80%;
	color: inherit;
}

/* the tabs styles */
#about-tabs .nav-link {
	padding: 0px; padding-bottom: .2rem; padding-right: .5rem;
	margin-right: .5rem;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs .nav-item {
	text-align: left;
}

.nav-tabs li {
	position: relative;
	margin-right: 1.5rem;
}

.nav-tabs .nav-link {
	background-color: transparent !important;
	border: none;
}

.nav-tabs li .nav-link::before {
	content: "";
	width: 5px; height: 2px;
	position: absolute;
	bottom: 0px;
	background-color: #FBF9F1;
	transition: all ease-in-out 0.6s;
}

.nav-tabs .nav-link.active {
	color: #D62828;
	font-weight: bold;
}

.nav-tabs li .nav-link.active::before {
	content: "";
	width: 100%; height: 2px;
	position: absolute;
	bottom: 0px;
	background-color: #d62828;
}

#about-tabs-content ul {
	list-style: none;
	padding-left: 0;
}

#about-tabs-content ul li {
	margin-bottom: 1rem;
}

#showcase-work .project {
	border: 1px solid rgba(255,255,255,0.3);
	background: transparent;
	transition: all ease-in-out 0.4s;
}

#showcase-work .project:hover {
	background: #d62828;
	transform: scale(1.15,1.15);
	z-index: 10;
}

#showcase-work .project figure {
	filter: grayscale(100%);
	opacity: 0.5;
	transition: all ease-in-out 0.2s;
}

#showcase-work .project:hover figure {
	filter: grayscale(0%);
	opacity: 1;
}

footer {
    font-family: 'Quicksand', 'sans-serif'; font-size: 1.15em;
    color: #3a3a3a;
}

footer a {
    color: #D62828;
}

footer a:hover {
    text-decoration: none;
    color: #A30303;
}

/* lazy load styles */
.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}


@media only screen and (max-width: 576px) {
    .large-hero.hero-banner .header-title {
        top: 0px;
        margin-top: 100px;
    }
	.hero {
		text-align: center;
	}
	
	#navbarmenu .navbar-wrap {
		padding: 6rem 0rem 2rem;
		width: 80%;
	}
	
	.navbar-quick-menu {
		position: relative;
		top: 1rem;
		font-size: 0.85em;
	}
	
	.navbar-toggler-icon {
		position: relative;
		top: 1rem;
	}
	
	.wrap-social {
		position: absolute;
		left: 3rem;
	}
}

@media only screen and (max-width: 767.9px) {
	.about-xs-padding {
		padding-top: 1.5rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    /* For mobile phones: */
    header {
        height: auto;
    }
    section {
        padding: 40px 0px 0px 0px;
    }
    .post {
        padding: 20px;
    }
    .large-hero.hero-banner .header-title {
        margin-top: 280px; top: 0px;
    }
	.navbar-brand {
		top: 1rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .large-hero.hero-banner .header-title {
        margin-top: 325px; top: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .large-hero.hero-banner {
        padding-bottom: 0;
        min-height: 500px; max-height: 700px;
        position: relative;
    }
    
    .large-hero.hero-banner .header-title {
        top: 23%;
        margin-top: 125px;
    }
}