<div class="container">

    <div class="row">

        <div class="col-md-5">
            <div class="bw-card-about-img">
                <img src="/images/profile-pic.jpg?nf_resize=smartcrop&w=300&h=400" class="img-fluid">
            </div>
        </div>

        <div class="col-md-6 p-md-5">
            <h2>About Me</h2>
            <p>Born and raised in Alabama. From the early youth of middle school I had a passion for design and all things pixel. I been working on my craft since 2005 on my own and been making it happen. Slowly I made my way west to Colorado where I currently reside. I have done many work in the field of UI/UX Design and Development. Over the years I have worked with different companies and organizations. The speciality started in small - medium businesses and have grown to specialization for non-profits.</p>

            <!-- tab -->
            <ul class="nav nav-tabs" id="about-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="true">Main Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sec-skills-tab" data-toggle="tab" href="#sec-skills" role="tab" aria-controls="sec-skills" aria-selected="false">Sec. Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">Experience</a>
                </li>
            </ul>
            <!-- end of tab -->

            <!-- tab content -->
            <div class="tab-content pt-3" id="about-tabs-content">

                <div class="tab-pane fade show active" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                    <ul>
                        <li class="list-item">
                            Web and user interface design - <span class="text-muted">Development</span>
                            <ul>
                                <li>
                                    Websites and interface development
                                </li>
                            </ul>
                        </li>

                        <li class="list-item">
                            User experience design - <span class="text-muted">UI/UX</span>
                            <ul>
                                <li>
                                    Design and make the website tailored to your liking
                                </li>
                            </ul>										
                        </li>

                        <li class="list-item">
                            Branding - <span class="text-muted">Graphic Design</span>
                            <ul>
                                <li>
                                    Design logo and interactive components for digital media
                                </li>
                            </ul>
                        </li>
						
                        <li class="list-item">
                            Webmaster - <span class="text-muted">Domain Registrar &amp; Hosting Service</span>
                            <ul>
                                <li>
                                    Provide domain names and hosting packages for digital media services
                                </li>
                            </ul>
                        </li>
						
                        <li class="list-item">
                            Optimization &amp; analytics - <span class="text-muted">SEO</span>
                            <ul>
                                <li>
                                    Better search optimization and analytic tracking implementations
                                </li>
                            </ul>
                        </li>
						

                        <li class="list-item">
                            Content maker - <span class="text-muted">Content Specialist</span>
                            <ul>
                                <li>
                                    Craft a story or content with actual facts, a master paper writer here
                                </li>
                            </ul>										
                        </li>
						
                    </ul>
                </div>

                <div class="tab-pane fade" id="sec-skills" role="tabpanel" aria-labelledby="sec-skills-tab">
                    <ul>
						
                        <li class="list-item">
                            Master of Jokes - <span class="text-muted">Dad Joke expert</span>
                            <ul>
                                <li>
                                    A #GirlDad of 3 so being awesome a the best jokes around works
                                </li>
                            </ul>
                        </li>
						
                        <li class="list-item">
                            Fire Paladin - <span class="text-muted">Oath of Devotion</span>
                            <ul>
                                <li>
                                    DnD style gamer and nerd - don't judge awesomeness ok?!
                                </li>
                            </ul>
                        </li>
						
                        <li class="list-item">
                            Storyteller - <span class="text-muted">Writer/Poet</span>
                            <ul>
                                <li>
                                    Oh yeah, I used to dabble in writing and poetry
                                </li>
                            </ul>
                        </li>
						
                    </ul>
                </div>

                <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
                    <ul>
                        <li class="list-item">
                            Freelance Web Designer/Developer - <span class="text-muted">B Whiting Designs</span>
                            <ul>
                                <li>
                                    2006 - current
                                </li>
                            </ul>
                        </li>

                        <li class="list-item">
                            Web Designer/Developer - <span class="text-muted">One Hour Chef</span>
                            <ul>
                                <li>
                                    2019 - 2020
                                </li>
                            </ul>										
                        </li>

                        <li class="list-item">
                            Web Designer - <span class="text-muted">Native Rank</span>
                            <ul>
                                <li>
                                    2019
                                </li>
                            </ul>
                        </li>

                        <li class="list-item">
                            Web Designer/Developer - <span class="text-muted">Madness Labs</span>
                            <ul>
                                <li>
                                    2014 - 2016
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- end of tab content -->

        </div>

    </div>

</div>