{% assign testimonials = site.data.pages.home | where: "section", "testimonial" %}
{% for testimonial in testimonials %}
<section class="hidden-section scroll-con-sec bot-element" id="sec6">
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>{{ testimonial.title }}</h3>
            <p>{{ testimonial.text }}</p>
        </div>
        <div class="testimonilas-carousel-wrap fl-wrap">
            <div class="tcb-wrap">
                <div class="tcb  tcb-prev"><i class="fas fa-caret-left"></i></div>
                <div class="tcb  tcb-next"><i class="fas fa-caret-right"></i></div>
            </div>
            <div class="testimonilas-carousel fl-wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for person in testimonial.person %}
                        <!--testi-item-->
                        <div class="swiper-slide">
                            <div class="testi-item fl-wrap">
                                {% for image in person.image %}
                                <div class="testi-avatar"><img src="{{ image.url }}" alt="{{ image.alt }}"></div>
                                {% endfor %}
                                <span class="testi-number">{{ person.number | prepend: '.' }}</span>
                                <div class="testimonilas-text fl-wrap">
                                    <h3>{{ person.client }}</h3>
                                    <p>{{ person.message }}</p>
                                    {% for website in person.website %}
                                    <a href="{{ website.url }}" class="testi-link" target="_blank">{{ website.text }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--testi-item end-->     
                        {% endfor %}                                          
                    </div>
                </div>
            </div>
            <div class="tc-pagination"></div>
        </div>
        <!-- client-list -->
        <div class="fl-wrap">
            <div class="container">
                <ul class="client-list client-list-white">
                    {% for logo in testimonial.logos %}
                    <li><a href="{{ logo.url }}" target="_blank"><img src="{{ logo.image }}" alt="{{ logo.alt }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- client-list end-->
        </div>
        <div class="sec-number" >{{ testimonial.order | append: '.' }}</div>
    </div>
    <div class="col-wc_dec col-wc_dec2"></div>
</section>
{% endfor %}