{% if page.layout == "default" %}
<section class="hidden-section scroll-con-sec bot-element" id="sec6">
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>Testimonials</h3>
            <p>Some response from clients that I have worked with recently  </p>
        </div>
        <div class="testimonilas-carousel-wrap fl-wrap">
            <div class="tcb-wrap">
                <div class="tcb  tcb-prev"><i class="fas fa-caret-left"></i></div>
                <div class="tcb  tcb-next"><i class="fas fa-caret-right"></i></div>
            </div>
            <div class="testimonilas-carousel fl-wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!--testi-item-->
                        <div class="swiper-slide">
                            <div class="testi-item fl-wrap">
                                <div class="testi-avatar"><img src="images/avatar/wanda-best.jpg" alt=""></div>
                                <span class="testi-number">.01</span>
                                <div class="testimonilas-text fl-wrap">
                                    <h3>Wanda Best</h3>
                                    <p>"He took a look at the old website and suggested immediate changes to bring the website's appearance current. He met and exceeded the needs of the organization.  He demonstrated a high level of quality, dependability, affordability and creativity.  The design was clean and user friendly.  He communicated with me so he could understand my vision for the website. With no hesitation I recommend Brian Whiting to get the best out of a website.  Not only did he design a beautiful, artsy website I learned a lot about web designing from Brian."</p>
                                    <a href="https://www.arttransforms.org/" class="testi-link" target="_blank">Via Email</a>
                                </div>
                            </div>
                        </div>
                        <!--testi-item end-->                                               
                    </div>
                </div>
            </div>
            <div class="tc-pagination"></div>
        </div>
        <!-- client-list -->
        <div class="fl-wrap">
            <div class="container">
                <ul class="client-list client-list-white">
                    <li><a href="#" target="_blank"><img src="/images/thumbs/ati-images/logo-v1.png" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="/images/thumbs/craft-images/craftpainters-logo.png" alt=""></a></li>
                    <li><a href="#" target="_blank"><img src="/images/thumbs/prorestoration/logo.webp" alt="" ></a></li>
                    <li><a href="#" target="_blank"><img src="/images/thumbs/fixed-nc-images/fnc-logo.webp" alt="" ></a></li>
                    <li><a href="#" target="_blank"><img src="/images/thumbs/dia-nyc-images/dia-logo.png" alt="" style="width: 90px;"></a></li>
                </ul>
            </div>
            <!-- client-list end-->
        </div>
        <div class="sec-number" >05.</div>
    </div>
    <div class="col-wc_dec col-wc_dec2"></div>
</section>
{% endif %}