{% if page.layout == "contact" and page.url != "/contact-me/success/" %}
<section   class="hidden-section bot-element">
    <div class="col-wc_dec"></div>
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>Contact details</h3>
            <p>Below are some ways to contact me and the area that I currently am able to come do direct meetings in.  </p>
        </div>
        <!--process-wrap  -->
        <div class="contacts-wrap fl-wrap">
            <ul>
                <li>
                    <i class="fal fa-mobile-android"></i>
                    <h4>Phone Number</h4>
                    <div class="clearfix"></div>
                    <a href="tel:{{ site.tel_link }}" class="contact-link">{{ site.tel }}</a>
                </li>
                <li>
                    <i class="fal fa-compass"></i>
                    <h4>Office Location</h4>
                    <div class="clearfix"></div>
                    <a href="#" class="contact-link">{{ site.address }}</a>
                </li>
                <li>
                    <i class="fal fa-envelope-open"></i>
                    <h4>My e-mail</h4>
                    <div class="clearfix"></div>
                    <a href="mailto:{{ site.email }}" class="contact-link">{{ site.email }}</a>
                </li>
            </ul>
        </div>
        <!--process-wrap   end-->       
        <div class="sec-number">01.</div>
    </div>
</section>
<!--section end -->
<div class="section-separator"><span class="fl-wrap bot-element"></span></div>
<!--section-->
<section   class="hidden-section bot-element">
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>Get in Touch</h3>
            <p>Fill out the form below and I will reach back to you within 24 - 48 hours  </p>
        </div>
        <div id="contact-form" class="cf-wrap">
            <div id="message"></div>
            <form class="custom-form" name="contact-form" method="POST" accept-charset="UTF-8" data-netlify-recaptcha="true" data-netlify="true">
                <fieldset>
                    <p class="hidden">
                        <label>Don't fill out this field if your human: <input name="false-field"></label>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <label><i class="fal fa-user"></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name *" value=""/>
                        </div>
                        <div class="col-md-6">
                            <label><i class="fal fa-envelope"></i> </label>
                            <input type="text"  name="email" id="email" placeholder="Email Address *" value=""/>
                        </div>
                    </div>
                    <textarea name="comments"  id="comments" cols="40" rows="3" placeholder="Your Message:"></textarea>
                    <div class="clearfix"></div>
                    <button class="btn   color-bg" id="submit">Send Message</button>
                    <div data-netlify-recaptcha="true"></div>
                </fieldset>
            </form>
        </div>
        <div class="sec-number">02.</div>
    </div>
    <div class="col-wc_dec col-wc_dec2 col-wc_dec3"></div>
</section>
{% endif %}

{% if page.url == "/contact-me/success/" and page.layout == "contact" %}
<section id="sec1">
    <div class="col-wc_dec"></div>
    <div class="container">
        <!-- text-block end --> 
        <div class="text-block fl-wrap no-mar-top">
            <div class="container">
                <div class="section-title fl-wrap">
                    <h3>Message Received</h3>
                    <p>The message has been sent and can take up to 24 - 48 hours if not spam message. In the meantime, why not check around the site or go to the <a href="{{ site.blog_url }}">blog</a>. </p>
                </div>
                <!--process-wrap   end-->       
                <div class="sec-number">00.</div>
            </div>
        </div>
        <!-- text-block end --> 
    </div>
    <div class="sec-lines"></div>
    <div class="col-wc_dec2"></div>
</section>
<!-- section end --> 
{% endif %}
