
<section id="sec2" class="hidden-section scroll-con-sec bot-element">
  <div class="col-wc_dec"></div>
  <div class="container">
    <div class="section-title fl-wrap">
      <h3>{{ page.title }}</h3>
      <p>{{ page.tagline }}</p>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="dec-img   fl-wrap">
          <picture>
            <source srcset="/images/svgs/black_man_laptop.svg" type="image/svg+xml">
            <source srcset="/images/black_man_laptop.webp" type="image/webp">
            <img src="/images/black_man_laptop.png" class="respimg" alt="">
          </picture>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="main-about fl-wrap">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--section about end -->