<!--footer-->
<div class="height-emulator fl-wrap"></div>
<footer class="main-footer fixed-footer">
    <div class="container">
        <div class="footer-inner fl-wrap">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-box fl-wrap">
                        <div class="footer-title fl-wrap">
                            <span>001.</span>
                            Last Tweets
                        </div>
                        <div class="footer-box-item fl-wrap">
                            <div class="twitter-swiper-container fl-wrap" id="twitts-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-title fl-wrap">
                        <span>002.</span>
                        Subscribe / Contacts
                    </div>
                    <div class="footer-box-item fl-wrap">
                        <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                        <div class="subcribe-form fl-wrap">
                            <form id="subscribe" class="fl-wrap" data-netlify="true">
                                <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                <button type="submit" id="subscribe-button" class="subscribe-button color-bg"><i class="fal fa-paper-plane"></i> Send </button>
                                <label for="subscribe-email" class="subscribe-message"></label>
                            </form>
                        </div>
                        <!-- footer-contacts-->
                        <div class="footer-contacts fl-wrap">
                            <ul>
                                <li><i class="fal fa-phone"></i><span>Phone :</span><a href="tel:{{ site.tel_link }}">{{ site.tel_link }}</a></li>
                                <li><i class="fal fa-envelope"></i><span>Email :</span><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                                <li><i class="fal fa-map-marker"></i><span>Address</span><a href="#">{{ site.address }}</a></li>
                            </ul>
                        </div>
                        <!-- footer end -->                                    
                    </div>
                </div>
            </div>
        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; Brian Whiting {{ site.time | date: '%Y' }}  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->                     
            <div class="to-top to-top-btn color-bg"><span>To top</span></div>
        </div>
    </div>
    <div class="sec-lines"></div>
    <div class="footer-canvas">
        <div class="dots gallery__dots" data-dots=""></div>
    </div>
</footer>
