        <footer class="pt-5 pb-3 text-center">
            <div class="container">
                
                <div class="row">
                   <div class="col-md-8 offset-md-2">
                       <ul class="list-inline">
						   
                           <li class="list-inline-item">   
                               <a href="{{ site.dribbble_url }}">my dribbble</a>
                           </li>
                           
                           <li class="list-inline-item">
                               <a href="{{ site.blog_url }}">my random thoughts</a>
                           </li>
                           
                           <li class="list-inline-item">
                               <a href="{{ site.hosting_url }}">my hosting platform</a>
                           </li>
                           
                       </ul>
                    </div>
                </div>
                
                <small>&copy; {{ site.time | date: '%Y' }} <a href="{{ "" | absolute_url }}">Brian Whiting</a>. All Rights Reserved</small>
                
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="/assets/js/bootstrap-4.0.0.js"></script>
		<script src="/assets/js/lazysizes.js" async=""></script>
		{% if page.layout == "portfolio" %}
		<script src="/assets/js/functions.js"></script>
        {% endif %}
        <script>
            $(document).on('click', '.navbar-collapse.in', function(e) {
                if( $(e.target).is('a') ) {
                    $(this).collapse('hide');
                }
            });
        </script>
		
		<script>
			$('.navbar-collapse').click(function(){
            	$(".navbar-collapse").collapse('hide');
        	});
		</script>

