
<header class="main-header">
    <a href="{{ "" | absolute_url }}" class="logo-holder ajax"><img src="/images/my-logo.png" alt=""></a>
    <!-- nav-button-wrap-->
    <div class="nav-button but-hol">
        <span  class="nos"></span>
        <span class="ncs"></span>
        <span class="nbs"></span>
        <div class="menu-button-text">Menu</div>
    </div>
    <!-- nav-button-wrap end-->
    <div class="header-social">
        <ul >
            <li><a href="{{ site.facebook_url }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="{{ site.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="{{ site.twitter_url }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="{{ site.dribbble_url }}" target="_blank"><i class="fab fa-dribbble"></i></a></li>
        </ul>
    </div>
    <div class="folio-btn">
        <a class="folio-btn-item ajax" href="/portfolio/"></a>
        <span class="folio-btn-tooltip">My Portfolio</span>
    </div>
</header>
