<!-- nav-holder-->
<div class="nav-holder but-hol">
    <div class="nav-scroll-bar-wrap fl-wrap">
        <a href="index.html" class="ajax logo_menu"><img src="/images/my-logo.png" alt=""></a>
        <div class="nav-container fl-wrap">
            <!-- nav -->
            <nav class="nav-inner" id="menu">
                <ul>
                    {% assign links = site.data.nav %}
                    {% for link in links %}
                        {% if link.subnav %}
                            <li class="{% if page.url == link.subnav.url %}act-link{% endif %}">
                                <a href="#">{{ link.title }}</a>
                                <ul>
                                {% for sublink in link.subnav %}
                                    <li>
                                        <a href="{{ sublink.url }}" class="ajax">
                                            {{ sublink.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ link.url }}" class="ajax {% if link.url == page.url %}act-link{% endif %}">
                                    {{ link.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <!-- nav end-->
        </div>
    </div>
    <div class="share-wrapper">
        <span class="share-title">Share : </span>
        <div class="share-container"></div>
    </div>
    <div class="nav-holder-line"></div>
</div>
<div class="nav-holder-dec color-bg"></div>
<div class="nav-overlay"></div>
<!-- nav-holder end -->  
