<!-- nav-holder-->
<div class="nav-holder but-hol">
    <div class="nav-scroll-bar-wrap fl-wrap">
        <a href="index.html" class="ajax logo_menu"><img src="/images/my-logo.png" alt=""></a>
        <div class="nav-container fl-wrap">
            <!-- nav -->
            <nav class="nav-inner" id="menu">
                <ul>
                    <li>
                        <a href="{{ "" | absolute_url }}" class="ajax {% if page.url == "/" %}act-link{% endif %}">Home</a>
                    </li>
                    <li>
                        <a href="/portfolio/" class="ajax {% if page.url == "/portfolio/" %}act-link{% endif %}">Portfolio</a>
                    </li>
                    <li>
						<a href="#">Blog</a>
						<!-- subsection -->
						<ul>
							<li><a href="/blog/" class="ajax">Design Shack</a></li>
							<li><a href="/blog/posts/" class="ajax">All Articles</a></li>
						</ul>
					</li>
                    <li>
						<a href="/contact-me/" class="ajax {% if page.url == "/contact-me/" %}act-link{% endif %}">Contact Me</a>
					</li>
                </ul>
            </nav>
            <!-- nav end-->
        </div>
    </div>
    <div class="share-wrapper">
        <span class="share-title">Share : </span>
        <div class="share-container"></div>
    </div>
    <div class="nav-holder-line"></div>
</div>
<div class="nav-holder-dec color-bg"></div>
<div class="nav-overlay"></div>
<!-- nav-holder end -->  
