{% if page.layout == "default" %}
<!--page-scroll-nav-->
<div class="page-scroll-nav fl-wrap">
    <nav class="scroll-init color2-bg">
        <ul class="no-list-style">
            <li><a class="scroll-link fbgs" href="#sec2" data-bgscr="/images/bg/long/coding-computer.jpg" data-bgtex="about"><span>About</span></a></li>
            <li><a class="scroll-link fbgs" href="#sec3" data-bgscr="/images/bg/long/create-manage-grow.jpg" data-bgtex="services"><span>Services</span></a></li>
            <li><a class="scroll-link fbgs" href="#sec4" data-bgscr="/images/bg/long/coding.jpg" data-bgtex="skills"><span>Skills</span></a></li>
            <li><a class="scroll-link fbgs" href="#sec5" data-bgscr="/images/bg/long/smartphone-google.jpg" data-bgtex="resume"><span>Resume</span></a></li>
            <li><a class="scroll-link fbgs" href="#sec6" data-bgscr="/images/bg/long/clients.jpg" data-bgtex="clients"><span>Clients</span></a></li>
        </ul>
    </nav>
    <div class="arrowpagenav"></div>
</div>
<!--page-scroll-nav end-->
{% endif %}

{% if page.layout == "contact" and page.url != "/contact-me/success/" %}
<div class="fixed-top-panel fl-wrap">
    <div class="sp-fix-header fl-wrap">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll down  to discover</span>
        </div>
        <a href="{{ "" | absolute_url }}" class="ajax back-to-home-btn"><span>Back to home</span></a>
    </div>
</div>
{% endif %}
