{% if page.layout == "default" %}
{% assign sections = site.data.page-scroll %}
<!--page-scroll-nav-->
<div class="page-scroll-nav fl-wrap">
    <nav class="scroll-init color2-bg">
        <ul class="no-list-style">
          {% for bg-image in sections %}
            <li>
              <a class="scroll-link fbgs" href="{{ bg-image.url }}" data-bgscr="{{ bg-image.image }}.webp" data-bgtex="{{ bg-image.section }}"><span>{{ bg-image.title }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="arrowpagenav"></div>
</div>
<!--page-scroll-nav end-->
{% endif %}

{% if page.layout == "contact" and page.url != "/contact-me/success/" %}
<div class="fixed-top-panel fl-wrap">
    <div class="sp-fix-header fl-wrap">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll down  to discover</span>
        </div>
        <a href="{{ "" | absolute_url }}" class="ajax back-to-home-btn"><span>Back to home</span></a>
    </div>
</div>
{% endif %}
