{% assign resumes = site.data.pages.home | where: "section", "resume" %}
{% for resume in resumes %}
<section class="hidden-section scroll-con-sec bot-element" id="sec5">
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>{{ resume.title }}</h3>
            <p>{{ resume.text }}</p>
        </div>
        <div class="custom-inner-holder">
            {% for experience in resume.experience %}
            <!-- start of {{ experience.order }} -->
            <div class="custom-inner">
                <div class="row">
                    <div class="col-md-4">
                        <div class="resum-header workres">
                            <i class="fa fa-briefcase"></i>
                            <h3>{{ experience.title }}</h3>
                            <span>{{ experience.date }}</span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="resum-content fl-wrap">
                            <h4>{{ experience.heading }}</h4>
                            <p>{{ experience.info }}/p>
                            <div class="dec-list fl-wrap">
                                {% for list in experience.description-list %}
                                <ul>
                                    <li>{{ list }}</li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of {{ experience.order }} -->
            {% endfor %}
            {% for download in resume.download %}
            <a href="{{ download.url }}" class="btn color-bg  fl-btn">{{ download.text }}</a>
            {% endfor %}
        </div>
        <div class="sec-number" >{{ resume.order | append: '.' }}</div>
    </div>
</section>
{% endfor %}