{% assign services = site.data.pages.home | where: "section", "services" %}
{% for service in services %}
<section class="hidden-section scroll-con-sec bot-element" id="sec3">
  <div class="container">
    <div class="section-title fl-wrap">
      <h3>{{ service.title }}</h3>
      <p>{{ service.tagline }} </p>
    </div>
    <div class="cards-wrap fl-wrap">
      <div class="row">
        {% assign cards = service.cards %}
        {% for card in cards %}
        <!--card item -->
        <div class="col-md-4">
          <div class="content-inner fl-wrap">
            <div class="content-front">
              <div class="cf-inner">
                <div class="bg " data-bg="{{ card.background }}"></div>
                <div class="overlay"></div>
                <div class="inner">
                  <h2>{{ card.title }}</h2>
                  <ul>
                    {% for list in card.list %}
                    <li>{{ list.items }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-back">
              <div class="cf-inner">
                <div class="inner">
                  <div class="dec-icon">
                    <i class="{{ card.icon }}"></i>
                  </div>
                  <p>{{ card.back_text }}</p>
                  {% for price in card.price %}
                  <div class="serv-price-wrap">
                    <span>Price</span> Contact Me
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--card item end -->
        {% endfor %}
      </div>
      <div class="srv-link-text fl-wrap">
        {% assign contents = service.content %}
        {% for content in contents %}
        <h4>{{ content.text }}</h4>
        <a href="{{ content.link }}" class="btn float-btn ajax  color-bg">{{ content.link_text }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="sec-number">{{ service.order | append: '.' }}</div>
  </div>
</section>
{% endfor %}