{% assign abilities = site.data.pages.home | where: "section", "skills" %}
{% for skill in abilities %}
<section class="scroll-con-sec bot-element" id="sec4">
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>{{ skill.title }}</h3>
            <p>{{ skill.text }}</p>
        </div>
        {% assign contents = skill.content %}
        {% for content in contents %}
        <div class="row">
            <div class="col-md-7">
                <div class="fl-wrap small-section-title">
                    <h3>{{ content.title }}</h3>
                </div>
                <div class="skillbar-box animaper">
                    <div class="pr-bg pr-bg-white"></div>
                    {% for moves in content.skills %}
                    <!-- skill {{ moves.position }} -->
                    <div class="custom-skillbar-title"><span>{{ moves.title }}</span></div>
                    <div class="skill-bar-percent">{{ moves.percent }}</div>
                    <div class="skillbar-bg" data-percent="{{ moves.percent }}%">
                        <div class="custom-skillbar"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="sec-number"  >{{ skill.order | append: '.' }}</div>
    </div>
    <div class="col-wc_dec col-wc_dec2 col-wc_dec3"></div>
</section>
{% endfor %}