{% if page.layout == "default" %}
<section class="dark-bg bot-element">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="video-box dec-img fl-wrap">
                        <img src="images/all/banner-twitch.png" alt="" class="respimg">
                        <a class="video-box-btn image-popup" href="{{ site.twitch_url }}"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="video-promo-text fl-wrap mar-top">
                        <h3>My Twitch Channel  </h3>
                        <p>Occasionally when I work I like to listen to music, watch YouTube, or a stream on Twitch. So why not take a look at my Twitch if you want to have a releaxing day with FE. </p>
                        <a href="#" class="btn fl-btn    color-bg">My Twitch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-corner"></div>
</section>
{% endif %}