<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
    
    <body>
		
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKS3CNF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		
        {% include header.html %}
        
        
        <section id="post-details">
			
			{{ content }}
			
        </section>
        

		{% include footer.html %}
		
    </body>
</html>