<!DOCTYPE HTML>
<html lang="en">

{% include head.html %}
	
	<body>
        <!--loader-->
        <div class="loader-wrap color-bg">
            <div class="loader-bg"></div>
            <div class="loader-inner">
                <div class="loader"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            {% include header.html %}
            <!-- header end -->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder  -->	
                <div class="content-holder scroll-content" data-pagetitle="Portofolio Single {{ page.title }}">
                    {% include nav-menu.html %} 
                    <!--content -->
                    <div class="content">
                        <!-- section --> 
                        <section id="sec1">
                            <div class="col-wc_dec"></div>
                            <div class="container">
                                <!-- text-block end --> 
                                <div class="text-block fl-wrap no-mar-top">
                                    <div class="row">
                                        <div class="col-md-8 sin-anim">
                                            <h3 class="pr-subtitle"> {{ page.title }}</h3>
											<h6>{{ page.tagline }}</h6>
                                            <p>{{ page.intro }}</p>
                                            <h3 class="pr-subtitle mar-top"> The Brief</h3>
                                            <!-- accordion-->                            
                                            <div class="accordion mar-top">
												{% if page.header_1 %}
                                                <a class="toggle act-accordion" href="#"> {{ page.header_1 }}  <span></span></a>
                                                <div class="accordion-inner visible">
                                                    <p>{{ page.header_1_content }}</p>
                                                </div>
												{% endif %}
												{% if page.header_2 != "nul" %}
                                                <a class="toggle" href="#"> {{ page.header_2 }}  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>{{ page.header_2_content }}</p>
                                                </div>
												{% endif %}
												{% if page.header_3 != "nul" %}
                                                <a class="toggle" href="#"> {{ page.header_3 }}  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>{{ page.header_3_content }}</p>
                                                </div>
												{% endif %}
                                            </div>
                                            <!-- accordion end -->                                                        
                                        </div>
                                        <div class="col-md-4">
                                            <div class="pr-bg pr-bg-white"></div>
                                            <div class="project-details fl-wrap">
                                                <ul>
                                                    <li><span>Date :</span> {{ page.completed | date_to_long_string }} </li>
                                                    <li><span>Client :</span> {{ page.client }}</li>
                                                    <li><span>Category : </span>
														<ul class="list-unstyled list-inline">
                                                            {% for categories in page.category %}
                                                            <li class="list-inline-item">
                                                                {{ categories }}
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
													</li>
                                                    <li><span>Online : </span>  {{ page.live_url }}</li>
                                                </ul>
                                                <a href="{[ page.live_url ]}" class="btn color-bg fl-wrap">View Project</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="limit-box2 fl-wrap"></div>
                                    <!--content-nav_holder-->            
                                    <div class="content-nav_holder fl-wrap blog-nav">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <div class="content-nav">
                                            <ul>
                                                <li>
                                                    <a href="portfolio-single2.html" class="ln ajax"><i class="fal fa-long-arrow-left"></i><span>Prev - Project Title</span></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="portfolio-single3.html" class="rn ajax"><span >Next - Project Title</span> <i class="fal fa-long-arrow-right"></i></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--content-nav_holder end -->                         
                                </div>
                                <!-- text-block end --> 
                            </div>
                            <div class="sec-lines"></div>
                            <div class="col-wc_dec col-wc_dec2 col-wc_dec3"></div>
                        </section>
                        <!-- section end --> 
                    </div>
                    <!--content  end -->
                    <!--content  end -->
                    <div class="limit-box fl-wrap"></div>
                    <!--footer-->
                    {% include footer.html %}
                    <!--footer  end -->
                </div>
                <!-- content-holder end -->
            </div>
            <!--wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->          
        </div>
        <!-- Main end -->
		
        {% include js.html %}
		
    </body>
</html>