<!DOCTYPE HTML>
<html lang="en">

	<head>

		{% include head.html %}

	</head>

	<body>
        <!--loader-->
        <div class="loader-wrap color-bg">
            <div class="loader-bg"></div>
            <div class="loader-inner">
                <div class="loader"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            {% include header.html %}
            <!-- header end -->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder scroll-content" data-pagetitle="podcast: {{ page.title }}">
                    {% include nav-menu.html %}
					{% include hero-wrap-home.html %}
                    <!--content -->
                    <div class="content">
                        <!-- section -->
                        <section id="sec1">
                            <div class="col-wc_dec"></div>
                            <div class="container">
                                <!-- text-block end -->
                                <div class="text-block fl-wrap no-mar-top">
                                    <div class="row">
                                        <div class="col-md-8 sin-anim">
                                            <h3 class="pr-subtitle"> {{ page.title }}</h3>
                                            <p>{{ page.intro }}</p>
											{% if page.header_1 %}
                                            <h3 class="pr-subtitle mar-top"> The Details</h3>
                                            <!-- accordion-->
                                            <div class="accordion mar-top">
                                                <a class="toggle act-accordion" href="#"> {{ page.header_1 }}  <span></span></a>
                                                <div class="accordion-inner visible">
                                                    <p>{{ page.header_1_content }}</p>
                                                </div>
												{% if page.header_2 %}
                                                <a class="toggle" href="#"> {{ page.header_2 }}  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>{{ page.header_2_content }}</p>
                                                </div>
											    {% endif %}
												{% if page.header_3 %}
                                                <a class="toggle" href="#"> {{ page.header_3 }}  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>{{ page.header_3_content }}</p>
                                                </div>
												{% endif %}
                                            </div>
                                            <!-- accordion end -->
											{% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <div class="pr-bg pr-bg-white"></div>
                                            <div class="project-details fl-wrap">
                                                <ul>
                                                    <li><span>Aired :</span> {% if page.completed %}{{ page.completed | date_to_long_string }} {% else %} In Progress {% endif %} </li>                    
													<li>
                                                        <span>Category :</span> {{ page.category }}
                                                    </li>
                                                    <li>
                                                        <span>Website : </span>  <a href="{{ page.live_url }}" target="_blank">{{ page.live_text }}</a>
                                                    </li>
                                                    <li>
                                                        <span>Cast :</span>
                                                        {% if page.cast %}
                                                        <ul>
                                                        {% for casts in page.cast %}
                                                            <li>
                                                                {{ casts | join: " " | replace: '_', ' ' }}
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                                {% if page.live_url %}
                                                <a href="{{ page.live_url }}" class="btn color-bg fl-wrap" target="_blank">Full Episodes</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="limit-box2 fl-wrap"></div>
                                    <!--content-nav_holder-->
                                    <div class="content-nav_holder fl-wrap blog-nav">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <div class="content-nav">
                                            <ul>
												{% if page.previous.url %}
                                                <li {% unless page.next.url %}style="width: 100%;"{% endunless %}>
                                                    <a href="{{ page.previous.url }}" class="ln ajax"><i class="fal fa-long-arrow-left"></i><span>Prev - {{ page.previous.title }}</span></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="{{ page.previous.image_preview }}"></div>
                                                    </div>
                                                </li>
												{% endif %}
												{% if page.next.url %}
                                                <li {% unless page.previous.url %}style="width: 100%;"{% endunless %}>
                                                    <a href="{{ page.next.url }}" class="rn ajax"><span >Next - {{ page.next.title }}</span> <i class="fal fa-long-arrow-right"></i></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="{{ page.next.image_preview }}"></div>
                                                    </div>
                                                </li>
												{% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!--content-nav_holder end -->
                                </div>
                                <!-- text-block end -->
                            </div>
                            <div class="sec-lines"></div>
                            <div class="col-wc_dec col-wc_dec2 col-wc_dec3"></div>
                        </section>
                        <!-- section end -->
                    </div>
                    <!--content  end -->
                    <!--content  end -->
                    <div class="limit-box fl-wrap"></div>
                    <!--footer-->
                    {% include footer.html %}
                    <!--footer  end -->
                </div>
                <!-- content-holder end -->
            </div>
            <!--wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->
        </div>
        <!-- Main end -->

        {% include js.html %}

    </body>
</html>