<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
    
    <body>
		
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKS3CNF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		
        {% include header.html %}
        
        
        <section id="post-details">
			
			<div class="bg-primary container-fluid p-5">
				
				<div class="mx-auto col-md-10 col-12">
					
					<div class="row">
						
						{% if post.excerpt %}
						<div class="col-10 mx-auto excerpt">
							<p>{{ post.excerpt }}</p>
						</div>
						
						<div class="text-center">
							<hr class="w-50">
						</div>
						{% endif %}
						
						<div class="col-10 mx-auto content">
							{{ content }}
						</div>
						
						
						<div class="d-flex flex-row col-12">
						{% if page.tags != empty %}                            
							<div class="col-auto mx-auto featured-tags">
                                <ul class="list-inline">
									{% for tag in page.tags %}
                                    <li class="list-inline-item">
                                        <a href="/tag/{{ tag }}">
                                            {{ tag }}
                                        </a>
                                    </li>
									{% endfor %}
                                </ul>
                            </div>
						{% endif %}
						</div>
						
					</div>
						
					{% assign author = site.authors | where: 'name', page.author | first %} 
					{% if page.author %}
					
                    <div class="col-10 mx-auto author-card d-flex flex-row">
                        <div class="col-md-3 col-4 pic">
                            <img src="{{ author.pic }}" class="img-fluid rounded-circle">
                        </div>

                        <div class="col-md-9 mx-auto col detail">
							<a href="{{ author.url }}">
								<h6>About {{ author.display_name }}</h6>
							</a>
                            <small>{{ author.position }}</small>
                            
							<p class="mt-2">{{ author.content | markdownify }}</p>
							{% if author.web %}
                            <small>
								<a href="{{ author.web }}" class="text-link">
                                	Website
								</a>
							</small>
							{% endif %}
                        </div>
                    </div>
					
					{% endif %}
					
				</div>
					
			</div>
				
						
            <!-- recent posts -->
            <div id="bw-recent-news-home" class="container-fluid p-5">
				<div class="col-10 mx-auto">
					<h6>Recent News</h6>
					<hr class="w-25 red float-left">
					<div class="clearfix"></div>
					
					<div class="container-fluid">
												
						<nav class="post_navigation row">
							{% if page.previous.url %}
							<div class="mr-auto col-auto">
								<a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
							</div>
							{% endif %}
							{% if page.next.url %}
							<div class="ml-auto col-auto">
								<a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
							</div>
							{% endif %}
						</nav>
						
					</div>
					
				</div>
			</div>
            <!-- recent posts -->

			
        </section>
        

		{% include footer.html %}
		
    </body>
</html>